.fa-square-youtube{
    color: red;
    transition: 1s;
}
.fa-square-youtube:hover{
    color: blue;
}
.tooltip{
    position: relative;
}
.tooltip>span{
    background: grey;
    color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 6px 8px #ccc;
    position: absolute;
    top: 50px;
    left: 160px;
    display: none;
}
.tooltip:hover span{
    display: block;
}
.tooltip>span::before{
    content: "";
    border: 10px;
    border-style: solid;
    border-color: transparent gray transparent transparent;
    position: absolute;
    left: -19px;
}